<!DOCTYPE html>
<html>
  <head>
    <title>FlickrClone</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_page?('/') || current_page?('/users/sign_in') || current_page?('/users/sign_up')%>
    <nav>
      <div class="logo">
        <h3>flickr</h3>
      </div>
      <div class="buttons">
        <%= link_to 'Log in', new_user_session_path %>
        <%= link_to(new_user_registration_path) do %>
        <button>Sign Up</button>
        <% end %>
      </div>
    </nav>
      <%= yield %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><h3>flickr</h3></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <% if current_user %>
                <li> <%= link_to 'You', profile_path(Profile.find_by_user_id(current_user.id)) %> </li>
              <% end %>
              <li><a href="#">Explore</a></li>
              <li><a href="#">Create</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                    <input type="text" class="form-control" placeholder="Photos, people, or groups">
                  </div>
                </div>
              </form>
              <li><a href="#"><i class="fa fa-cloud-upload fa-2x"></i></a></li>
              <li class="dropdown dropdown-img">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="flickr" src="https://s.yimg.com/pw/images/buddyicon05.png#152042329@N08" alt="" /></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div class="container">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
